@charset "utf-8";

.flexContainer2{
	will-change: transform;
	will-change: transform;
	transform:translateY(-500%);
	margin:20px;
	text-align: center;
}

.modalContent2{
	background-color: #97683D;
	border: 4px solid #88592F;
	border-radius:13px;
	padding:5px;
}

.boxCon2 {
	overflow:hidden;
	padding:5px;
	border-radius:10px;
	border : solid 5px #88592F;
	background:#190404;
	background-size:100% 5px;
	background-image: linear-gradient(270deg, #372019, #190404);
	background-image: linear-gradient( rgba(25, 4, 4, 0.1) 70%, rgba(245, 210, 184, 0.1) 60%);
	width:90%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

/*여기서부터 보너스 기회 상자 CSS start*/
#boBox {
	z-index:106;
	position:relative;
	flex-wrap: wrap;
	border-radius: 8px;
	background-image: linear-gradient(60deg, #81542F, #CD9A61);
	justify-content: center;
	align-items: center;
	display: flex;
	width: 250px;
	height: 80px;
	box-shadow: inset 0px 0px 3px 3px #C0AB73,0px 3px 3px 3px #190800;
}

#boContainer {
	margin-bottom:5px;
	flex-wrap: nowrap;
	padding: 4px;
	align-items: center;
	justify-content: center;
	display: flex;
	background-color: #190800;
	height: 28px;
	border-radius: 10px;
}

#boText {
	font-size:20px;
	font-family: 'KOTRA_BOLD', sans-serif;
	text-shadow: 1px 1px 3px #190800;
	color: #F7DC94;
}
.off4{
	background-color: #704527 !important;
	box-shadow: 0px 0px 0px #704527;
}
.boBtn0 {
	z-index:105;
	position:relative;
	padding-top:7px;
	background-color:transparent;
	border:none;
	width: 100%;
	height: 100%;
	font-size:16px;
	font-family: 'KOTRA_BOLD', sans-serif;
	text-shadow: 1px 1px 3px #190800;
	color: #F7DC94;
}

.boBtn1 {
	width: 70px;
	background-color: #F5FA1F;
	box-shadow: inset 0px 0px 5px 2px #CE4B00;
	border: none;
	height: 22px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

.boBtn2 {
	width: 70px;
	background-color: #F5FA1F;
	box-shadow: inset 0px 0px 5px 2px #CE4B00;
	border: none;
	height: 22px;
}

.boBtn3 {
	width: 70px;
	background-color: #F5FA1F;
	box-shadow: inset 0px 0px 5px 2px #CE4B00;
	border: none;
	height: 22px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}

#boZero {
	z-index:105;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	position:relative;
	transform: translateX(50%) ;
	border:none;
	background-image: linear-gradient(60deg, #81542F, #CD9A61);
	box-shadow: inset 0px 0px 3px 3px #C0AB73,0px 3px 3px 3px #190800;
	width: 50%;
	height: 35px;

}

#boNumber{
	font-size:22px;
	font-family: 'KOTRA_BOLD', sans-serif;
	text-shadow: 1px 1px 3px #190800;
	color: #F7DC94;
}

/*여기서부터 보너스 기회 상자 CSS END */

/*여기서부터 하드 던전 기회 CSS START*/
#effihardBox {
	z-index:106;
	position:relative;
	flex-wrap: wrap;
	border-radius: 8px;
	background-color: #44373E;
	/* background-image: linear-gradient(60deg, #81542F, #22150D); */
	justify-content: center;
	align-items: center;
	display: flex;
	width: 250px;
	height: 80px;
	box-shadow: inset 0px 0px 3px 3px #098B4B,0px 3px 3px 3px #190800;
}

/*보너스 버튼*/
#effihardContainer {
	margin-bottom:5px;
	flex-wrap: nowrap;
	padding: 4px;
	align-items: center;
	justify-content: center;
	display: flex;
	background-color: #190800;
	height: 28px;
	border-radius: 10px;
}

#effihardText {
	font-family: 'KOTRA_BOLD', sans-serif;
	font-size:20px;
	text-shadow: 1px 1px 3px #190800;
	color: #01F988;
}
.off3{
	background-color: #005612 !important;
}
.effihardBtn0 {
	z-index:105;
	padding-top:7px;
	position:relative;
	background-color:transparent;
	border:none;
	width: 100%;
	height: 100%;
	font-size:16px;
	font-family: 'KOTRA_BOLD', sans-serif;
	text-shadow: 1px 1px 3px #190800;
	color: #01F988;
}

.effihardBtn1 {
	width: 210px;
	background-color: #00DE1A;
	box-shadow: inset 0px 0px 5px 2px #06120B;
	border: none;
	height: 22px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

.effihardBtn2 {
	width: 70px;
	background-color: #00DE1A;
	box-shadow: inset 0px 0px 5px 2px #06120B;
	border: none;
	height: 22px;
}

.effihardBtn3 {
	width: 70px;
	background-color: #00DE1A;
	box-shadow: inset 0px 0px 5px 2px #06120B;
	border: none;
	height: 22px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}

#effihardZero {
	z-index:105;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	position:relative;
	transform: translateX(50%) ;
	border:none;
	background-color: #44373E;
	/* background-image: linear-gradient(60deg, #81542F, #CD9A61); */
	box-shadow: inset 0px 0px 3px 3px #098B4B,0px 3px 3px 3px #190800;
	width: 50%;
	height: 35px;

}

#effihardNumber{
	font-size:22px;
	font-family: 'KOTRA_BOLD', sans-serif;
	text-shadow: 1px 1px 3px #190800;
	color: #01F988;
}
/**/

/**/
.btn-grp2{
	width:100%;
	will-change: transform;
	transform: translateY(200%);
	margin-bottom:35px;
	display: flex;
	justify-content: center;
	flex-wrap:wrap;
	flex-flow:row;
}

/**/

/* 인풋창 CSS */
.input-group2{
	position: relative;
	flex-wrap: wrap; 
	align-items: stretch;
	will-change: transform;
	transform: translateX(-300%);
	margin: 0 auto;
	display: flex;
	width: 100%;		
}

.needFragmentInput{
	padding:10px;
	text-align:right;
	margin: 5px;
	margin-right:15px;
	color:#EECEA4;
	width:150px;
	height:40px;
	font-size:23px;
	font-family: 'ExcelsiorSans', sans-serif;
	border-color:#f9d193;
	background-color:rgba(235, 210, 184, 0.1);;
}
.nowFragmentInput{
	padding:10px;
	text-align:right;
	color:#EECEA4;
	margin:5px;
	margin-right:15px;
	width:150px;
	height:40px;
	font-size:23px;
	font-family: 'ExcelsiorSans', sans-serif;
	border-color:#f9d193;
	background-color:rgba(235, 210, 184, 0.1);;
}
.consumWeek{
	padding:10px;
	text-align:right;
	color:#EECEA4;
	margin:5px;
	margin-right:15px;
	width:150px;
	height:40px;
	font-size:23px;
	font-family: 'ExcelsiorSans', sans-serif;
	border-color:#f9d193;
	background-color:rgba(235, 210, 184, 0.1);;
}
.consumWeekLabel{
	padding-left: 36.94px;
}

/* 체크박스 */
input[id="levelBox"]:checked + label::after {
	content: '';
	background-color: #F5FA1F;
	box-shadow: inset 0px 0px 5px 2px #CE4B00,0px 0px 2px 2px #CE4B00;
	width: 15px;
	height: 15px;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

/*
input[id="fragCountBox1"]:checked + label::after {
	content: '';
	background-color: #F5FA1F;
	box-shadow: inset 0px 0px 5px 2px #CE4B00,0px 0px 2px 2px #CE4B00;
	width: 15px;
	height: 15px;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

체크박스
input[id="fragCountBox2"]:checked + label::after {
	content: '';
	background-color: #F5FA1F;
	box-shadow: inset 0px 0px 5px 2px #CE4B00,0px 0px 2px 2px #CE4B00;
	width: 15px;
	height: 15px;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

체크박스
input[id="fragCountBox3"]:checked + label::after {
	content: '';
	background-color: #F5FA1F;
	box-shadow: inset 0px 0px 5px 2px #CE4B00,0px 0px 2px 2px #CE4B00;
	width: 15px;
	height: 15px;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
} */

/**/


#resultBox2{
	width:100%;
	flex-wrap:wrap;
	height:0px;
	font-size:25px;
	font-family: 'KOTRA_BOLD', sans-serif;
	color: #F7DC94;
	text-align:center;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.1s height ease-in-out;
}

.resize2{
	height: 330px !important;
	transition: 0.1s height ease-in-out;
}

.playTotalVal{
	width:100%;
	flex-wrap: wrap;
	font-size: 22px;
}
.playExpVal{
	width:100%;
	flex-wrap: wrap;
	font-size: 22px;
}
.playHardVal{
	width:100%;
	flex-wrap: wrap;
	font-size: 22px;
}
.playlevel2Val{
	width:100%;
	flex-wrap: wrap;
	font-size: 22px;
}
.playlevel1Val{
	width:100%;
	flex-wrap: wrap;
	font-size: 22px;
}
.useEnkeVal{
	width:100%;
	flex-wrap: wrap;
	font-size: 22px;
}
